meta(http-equiv="content-type", content="text/html; charset=utf-8")
title=pageTitle
meta(name="description", content=description)
meta(name="referrer", content="unsafe-url")
meta(name="keywords", content=keywords)
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="shortcut icon", href="/favicon.ico")
link(rel="apple-touch-icon", href="/img/apple-touch-icon_60.png")
link(rel="apple-touch-icon", sizes="57x57", href="/img/apple-touch-icon_57.png")
link(rel="apple-touch-icon", sizes="60x60", href="/img/apple-touch-icon_60.png")
link(rel="apple-touch-icon", sizes="72x72", href="/img/apple-touch-icon_72.png")
link(rel="apple-touch-icon", sizes="76x76", href="/img/apple-touch-icon_76.png")
link(rel="apple-touch-icon", sizes="120x120", href="/img/apple-touch-icon_120.png")
link(rel="apple-touch-icon", sizes="144x144", href="/img/apple-touch-icon_144.png")
link(rel="apple-touch-icon", sizes="152x152", href="/img/apple-touch-icon_152.png")

// Schema.org markup for Google+
meta(itemprop='name', content=pageTitle)
meta(itemprop='description', content=description)
meta(itemprop='image', content=schema_image)
// Twitter data
meta(name='twitter:title', content=pageTitle)
meta(name='twitter:description', content=description)
meta(name='twitter:image:src', content=schema_image)
// Open Graph data
meta(property='og:url', content=canonical_url)
meta(property='og:type', content='article')
meta(property='og:title', content=pageTitle)
meta(property='og:image', content=schema_image)
meta(property='og:description', content=description)
meta(property='og:site_name', content='Site Name')
meta(property='og:locale', content='ru_RU')

// fonts and styles
link(rel="stylesheet" href="/css/styles.css")

<![if lte IE 11]>
link(rel="stylesheet" href="/css/ie.css")
<![endif]>