-var pageTitle = "Title"
-var keywords = "Keywords"
-var description = "Description"
-var schema_image = " "
-var canonical_url = " "
doctype html
html(lang="en")
    head
        include /_layouts/_head.pug
    body
        include /_layouts/_body.pug
        include /_layouts/_footer.pug